.card:hover {
    box-shadow: 5px 10px 20px 4px black;
    transition: all 0.3s linear;
}

.card {

    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn {
    width: 10rem;
}

h2 {
    text-align: center;
}

h6 {
    text-align: center;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




body {
    background-color: gray;
}

.card-img-top {
    transition: all 0.4s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.2);
}

.overflow {
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .Container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .card {
        width: 15rem;

    }

    .btn {
        width: 5rem;
    }
}

@media only screen and (min-width: 1060px) {
    .Container {
        display: flex;
        justify-content: center;
        align-items: center;


    }

}


@media only screen and (min-width: 1400px) {
    .Container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .card {
        width: 30rem;
    }

    .btn {
        width: 15rem;
    }

    h2 {
        text-align: center;
    }

    h6 {
        text-align: center;
    }

}